@font-face {
  font-family: 'Parimatch';
  font-weight: 500;
  src: url("../fonts/Parimatch-Bold.woff") format("woff"); }

@font-face {
  font-family: 'Parimatch';
  font-weight: 400;
  src: url("../fonts/ParimatchMedium.woff") format("woff"); }

@font-face {
  font-family: 'Parimatch';
  font-weight: 300;
  src: url("../fonts/Parimatch-Light.woff") format("woff"); }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

h1, h2, h3, h4, span, a {
  font-family: "Parimatch";
  text-decoration: none; }

ul, ol {
  list-style: none; }

body {
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  width: 100vw;
  height: 100vh; }

img {
  width: auto;
  max-width: 100%;
  height: 100%;
  object-fit: contain; }

.background {
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0; }
  .background::before, .background::after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0; }
  .background::before {
    background: url("../images/bg/background-over.jpg") no-repeat;
    background-size: cover;
    z-index: 1; }
  .background::after {
    background-color: #f8ff13;
    z-index: 2;
    mix-blend-mode: multiply; }
  .background > div {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover; }
    .background > div.dirt {
      background: url("../images/bg/background-dirt.png") no-repeat;
      background-size: cover;
      z-index: 3; }
    .background > div.bullets {
      background: url("../images/bg/background-bullets.png") no-repeat;
      background-size: cover;
      z-index: 4; }
    .background > div.pluses {
      z-index: 5; }
      .background > div.pluses > div {
        position: absolute;
        transform: translateX(-50%); }
        .background > div.pluses > div.top {
          top: 5px;
          left: 50%;
          width: 422px;
          height: 15px;
          background: url("../images/bg/pluses/top.png") no-repeat; }
        .background > div.pluses > div.left {
          width: 422px;
          height: 451px;
          top: 366px;
          left: 197px;
          background: url("../images/bg/pluses/left.png") no-repeat; }
        .background > div.pluses > div.right {
          width: 422px;
          height: 480px;
          right: 238px;
          top: -11px;
          transform: translateX(50%);
          background: url("../images/bg/pluses/right.png") no-repeat; }
    .background > div.persons {
      z-index: 6; }
      .background > div.persons .person {
        position: absolute; }
        .background > div.persons .person.tracer {
          top: 290px;
          right: 0;
          width: 473px;
          height: 668px; }
        .background > div.persons .person.pubg {
          top: 350px;
          left: -34px;
          width: 847px;
          height: 671px; }
        .background > div.persons .person.jugg {
          top: 5px;
          left: 50%;
          transform: translateX(-42px);
          width: 500px;
          height: 906px; }

.header {
  position: relative;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  z-index: 10;
  padding: 0 64px; }
  .header img {
    object-fit: contain; }
  .header .logo {
    margin-top: 32px;
    width: 240px;
    height: 74px; }
  .header .rightSide {
    margin-top: 8px;
    width: 330px;
    height: 109px; }

.content {
  position: relative;
  width: 100%;
  height: calc(100vh - (70px + 72px));
  z-index: 10;
  overflow: hidden; }
  .content .text {
    height: 620px; }
    .content .text .box-content .title-sport__box {
      position: relative;
      width: 100%;
      max-width: 351px;
      background: url("../images/text/paybox.png");
      height: 51px;
      text-align: center;
      align-items: center;
      margin-left: 122px;
      margin-top: 45px; }
      .content .text .box-content .title-sport__box .title-sport {
        padding: 10px;
        font-family: "Parimatch";
        font-size: 33px;
        text-transform: uppercase;
        color: #ffff;
        align-items: center; }
        .content .text .box-content .title-sport__box .title-sport:before {
          content: "";
          position: absolute;
          width: 55px;
          height: 36px;
          border-bottom: 1px solid #ffffff;
          left: -18px; }
        .content .text .box-content .title-sport__box .title-sport::after {
          content: url("../images/text/cross2.png");
          position: absolute;
          left: 0;
          top: 135px;
          z-index: 2; }
    .content .text .box-content .bonus-box {
      display: flex;
      flex-flow: column;
      width: 100%;
      position: relative; }
      .content .text .box-content .bonus-box:after {
        content: url("../images/text/letter-dirt.png");
        position: absolute;
        top: 33px;
        left: -23px; }
      .content .text .box-content .bonus-box:before {
        content: '';
        position: absolute;
        top: 100px;
        left: 356px;
        width: 65px;
        border-bottom: 1px solid #ffffff;
        height: 10px; }
      .content .text .box-content .bonus-box .bonus-name {
        display: flex;
        font-family: "Parimatch";
        font-size: 160px;
        text-transform: uppercase;
        letter-spacing: 1.5px;
        margin-left: 42px; }
        .content .text .box-content .bonus-box .bonus-name:before {
          content: "";
          position: absolute;
          top: 40px;
          left: 37px;
          border-bottom: 1px solid #ffffff;
          width: 214px; }
        .content .text .box-content .bonus-box .bonus-name:after {
          content: "";
          position: absolute;
          top: 100px;
          left: 210px;
          border-bottom: 5px solid #ffffff;
          width: 30px;
          height: 18px; }
      .content .text .box-content .bonus-box .bonus-price {
        font-family: "Parimatch";
        font-size: 160px;
        text-transform: uppercase;
        letter-spacing: 1.5px;
        transform: translate(203px, -33px); }
        .content .text .box-content .bonus-box .bonus-price:before {
          content: "";
          position: absolute;
          border-bottom: 15px solid #000;
          width: 20px;
          height: 5px;
          top: 80px;
          left: 290px; }
        .content .text .box-content .bonus-box .bonus-price:after {
          content: "";
          position: absolute;
          border-bottom: 15px solid #000;
          width: 62px;
          height: 5px;
          top: 102px;
          left: 285px; }
      .content .text .box-content .bonus-box .letter-bonus {
        content: url("../images/text/bonus-dirt.png");
        position: absolute;
        top: 37px;
        left: 37px; }
      .content .text .box-content .bonus-box .letter-bonus__white {
        content: url("../images/text/bonus-dirt-2.png");
        position: absolute;
        top: 37px;
        left: 37px; }
    .content .text .box-content .info-box {
      position: relative;
      width: 100%;
      height: 100%;
      display: flex; }
      .content .text .box-content .info-box::before {
        content: "";
        background: url("../images/text/cross-1.png");
        position: absolute;
        width: 15px;
        height: 15px;
        top: -80px;
        left: 448px; }
      .content .text .box-content .info-box::after {
        content: "";
        position: absolute;
        width: 30px;
        height: 10px;
        left: 486px;
        top: -122px;
        border-bottom: 2px solid #ffffff; }
      .content .text .box-content .info-box .registration-info {
        font-family: "Parimatch";
        font-size: 74px;
        text-transform: uppercase;
        letter-spacing: 1.5px;
        line-height: 1.1;
        transform: translate(36px, -40px);
        opacity: 0.4; }
    .content .text .box-content .btn-registration {
      width: 100%;
      background: url("../images/text/btn-link.png");
      background-size: cover;
      height: 110px;
      max-width: 470px;
      max-height: 120px;
      padding-top: 31px;
      margin-left: 66px; }
      .content .text .box-content .btn-registration .btn-link {
        padding-top: 29px;
        text-decoration: none;
        color: #f8ff13;
        font-size: 36px;
        text-transform: uppercase;
        margin-left: 77px;
        letter-spacing: 1.3px; }

.steps {
  margin-top: 30px; }
  .steps .steps-wrap {
    display: flex;
    flex-flow: row nowrap; }
    .steps .steps-wrap .step {
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      align-items: center;
      width: 33.33333%;
      font-family: "Parimatch"; }
      .steps .steps-wrap .step .icon {
        position: relative;
        width: 70px;
        height: 55px; }
        .steps .steps-wrap .step .icon::before {
          content: '';
          display: block;
          position: absolute;
          z-index: -1;
          background: url("../images/steps/1/step-1.png") no-repeat;
          background-size: cover;
          width: 100%;
          height: 100%; }
        .steps .steps-wrap .step .icon .number {
          font-size: 32px;
          text-align: center;
          line-height: 55px;
          font-weight: 400; }
      .steps .steps-wrap .step .icon-middle {
        position: relative;
        width: 70px;
        height: 55px; }
        .steps .steps-wrap .step .icon-middle::before {
          content: "";
          display: block;
          position: absolute;
          background: url("../images/steps/2/step-2.png") no-repeat;
          background-size: cover;
          z-index: -1;
          width: 100%;
          height: 100%; }
        .steps .steps-wrap .step .icon-middle .number {
          font-size: 32px;
          text-align: center;
          line-height: 55px;
          font-weight: 400; }
        .steps .steps-wrap .step .icon-middle .title {
          font-size: 28px;
          font-weight: 300;
          text-transform: uppercase;
          margin-left: 10px; }
      .steps .steps-wrap .step .icon-last {
        position: relative;
        width: 70px;
        height: 56px; }
        .steps .steps-wrap .step .icon-last::before {
          content: "";
          display: block;
          position: absolute;
          background: url("../images/steps/3/step-3.png") no-repeat;
          background-size: cover;
          z-index: -1;
          width: 100%;
          height: 100%; }
        .steps .steps-wrap .step .icon-last .number {
          font-size: 32px;
          text-align: center;
          line-height: 55px;
          font-weight: 400; }
        .steps .steps-wrap .step .icon-last .title {
          font-size: 28px;
          font-weight: 300;
          text-transform: uppercase;
          margin-left: 10px; }
      .steps .steps-wrap .step .title {
        font-size: 28px;
        font-weight: 300;
        text-transform: uppercase;
        margin-left: 10px; }

.copyright-box {
  display: none; }

footer {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 0 64px;
  width: 100%;
  height: 72px;
  background-color: #000;
  z-index: 10; }
  footer .payments {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    height: 32px; }
    footer .payments a {
      margin-right: 27px; }
  footer .download {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    height: 42px; }
    footer .download a {
      margin: 0 7px; }
      footer .download a:first-child {
        margin-left: 0; }
      footer .download a:last-child {
        margin-right: 0; }
  footer .right-col {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    height: 32px; }
    footer .right-col .socials {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      margin-left: 150px; }
      footer .right-col .socials a {
        margin-right: 18px; }
        footer .right-col .socials a:last-child {
          margin-right: 0; }

.container {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto; }

.footer-responsive {
  display: none; }

@media screen and (max-width: 1600px) and (min-width: 1200px) {
  .header .logo {
    height: 50px;
    width: 165px;
    margin-top: 25px;
    margin-left: 30px; }
  .header .rightSide {
    width: 256px;
    height: 75px; }
  .background::after {
    overflow: hidden; }
  .background .bullets {
    transform: translate(-38px); }
  .background .persons .person.jugg {
    top: 25px !important;
    width: 396px !important;
    height: 682px !important; }
  .background .persons .person.tracer {
    top: 237px !important;
    width: 350px !important;
    height: 490px !important; }
  .background .persons .person.pubg {
    top: 192px !important;
    left: -23px !important;
    width: 633px !important; }
  .background .pluses .right {
    right: 115px !important;
    top: -15px !important; }
  .background .pluses .left {
    top: 316px !important;
    left: 119px !important; }
  .background .dirt {
    background: url("../images/bg/dirt-1440.png") !important; }
  .content {
    height: 100%;
    max-height: 690px; }
    .content .text {
      height: 100%;
      max-height: 520px; }
      .content .text .box-content .title-sport__box {
        margin-left: 195px;
        margin-top: 38px;
        max-height: 41px;
        max-width: 275px;
        background: url("../images/text/paybox-1440.png") no-repeat; }
        .content .text .box-content .title-sport__box .title-sport {
          font-size: 23px;
          letter-spacing: 0.6px;
          margin-left: 20px; }
          .content .text .box-content .title-sport__box .title-sport:before {
            width: 50px;
            height: 26px;
            border-bottom: 1px solid #d6d6ca;
            left: -4px; }
          .content .text .box-content .title-sport__box .title-sport:after {
            left: 11px;
            top: 110px; }
      .content .text .bonus-box .bonus-name {
        font-size: 120px !important;
        margin-left: 148px !important; }
        .content .text .bonus-box .bonus-name::before {
          top: 26px !important;
          left: 163px !important;
          border-bottom: 1px solid #d6d6ca !important;
          width: 146px !important; }
        .content .text .bonus-box .bonus-name::after {
          top: 63px !important;
          left: 272px !important;
          border-bottom: 3px solid #ffffff !important;
          width: 24px !important; }
      .content .text .bonus-box .bonus-price {
        font-size: 120px !important;
        transform: translate(268px, -28px) !important; }
        .content .text .bonus-box .bonus-price::before {
          border-bottom: 11px solid #000 !important;
          top: 60px !important;
          left: 220px !important; }
        .content .text .bonus-box .bonus-price::after {
          border-bottom: 11px solid #000 !important;
          width: 45px !important;
          top: 76px !important;
          left: 218px !important; }
      .content .text .bonus-box .letter-bonus {
        top: 28px !important;
        left: 156px !important;
        width: 392px !important; }
      .content .text .bonus-box .letter-bonus__white {
        left: 173px !important;
        width: 365px !important; }
      .content .text .bonus-box::after {
        content: "" !important;
        border-bottom: 7px solid #f8ff13;
        width: 57px;
        height: 10px;
        transform: translate(552px, 80px); }
      .content .text .bonus-box::before {
        top: 75px !important;
        left: 385px !important;
        width: 47px !important;
        border-bottom: 1px solid #d6d6ca !important; }
      .content .text .info-box::before {
        top: -63px !important;
        left: 451px !important; }
      .content .text .info-box::after {
        width: 23px !important;
        left: 484px !important;
        top: -97px !important;
        border-bottom: 1px solid #d6d6ca !important; }
      .content .text .info-box .registration-info {
        font-size: 58px !important;
        transform: translate(147px, -34px) !important;
        letter-spacing: normal !important; }
      .content .text .box-content .btn-registration {
        height: 86px;
        max-width: 370px;
        max-height: 120px;
        padding-top: 26px;
        margin-left: 156px;
        transform: translate(3px, -9px);
        cursor: pointer; }
        .content .text .box-content .btn-registration .btn-link {
          font-size: 26px;
          margin-left: 66px; }
  .steps {
    margin-top: 90px; }
    .steps .steps-wrap .step-registration {
      transform: translate(10px 10px) !important; }
    .steps .steps-wrap .step {
      width: 100%;
      max-width: 285px;
      margin-left: 42px;
      margin-top: 13px; }
      .steps .steps-wrap .step .title {
        font-size: 23px; }
      .steps .steps-wrap .step .icon {
        width: 100%;
        max-width: 60px; }
        .steps .steps-wrap .step .icon .number {
          font-size: 26px; }
      .steps .steps-wrap .step .icon-middle {
        max-width: 60px;
        max-height: 50px; }
        .steps .steps-wrap .step .icon-middle .number {
          font-size: 26px; }
      .steps .steps-wrap .step .icon-last {
        max-width: 60px;
        max-height: 50px; }
        .steps .steps-wrap .step .icon-last .number {
          font-size: 26px; }
  .footer {
    height: 100%;
    max-height: 60px;
    overflow: hidden; }
    .footer .payments .icon-visa {
      width: 30px; }
    .footer .payments .icon-master {
      width: 30px; }
    .footer .payments .icon-qiwi {
      width: 50px; }
    .footer .payments .icon-yandex {
      width: 70px; }
    .footer .payments a {
      margin-right: 18px; }
    .footer .download a:first-child {
      margin-bottom: 12px; }
    .footer .download a:last-child {
      margin-right: 53px;
      margin-bottom: 12px; }
    .footer .right-col .socials {
      margin-left: 75px; }
      .footer .right-col .socials .vk-icon {
        width: 20px; }
      .footer .right-col .socials .twitter-icon {
        width: 15px; }
      .footer .right-col .socials .inst-icon {
        width: 15px; }
    .footer .right-col .age {
      width: 25px !important;
      margin-bottom: 12px !important; } }

@media screen and (max-width: 1200px) and (min-width: 550px) {
  .container {
    max-width: 700px;
    margin: 0 auto; }
  .background .header-response {
    background: url("../images/header/logo-720.png") no-repeat;
    position: absolute;
    z-index: 10;
    top: 15px;
    width: 100%;
    left: 276px; }
  .background .persons .person.pubg {
    top: 118px !important;
    width: 100%;
    max-width: 320px;
    left: 383px !important; }
  .background .persons .person.jugg {
    max-width: 200px;
    left: 275px !important;
    top: 30px !important;
    max-height: 885px; }
  .background .persons .person.tracer {
    top: 126px !important;
    right: inherit !important;
    width: 210px !important;
    left: 126px; }
  .background .pluses {
    display: none; }
  .background::before {
    background: url("../images/bg/background-over-responsive.png");
    object-fit: cover; }
  .background .bullets {
    background: url("../images/bg/bullet-responsive.png") !important; }
  .background .dirt {
    background: url("../images/bg/dirt-7.png") !important; }
  .header {
    display: none;
    flex-direction: column;
    width: 100%;
    justify-content: center; }
    .header .logo {
      display: none; }
    .header .rightSide {
      display: none; }
  .content {
    height: 100%;
    max-height: 780px; }
    .content .text {
      margin-top: 83px;
      height: 500px; }
      .content .text .box-content:before {
        position: absolute;
        content: '';
        border-bottom: 4px solid #f8ff13;
        left: 490px;
        top: 184px;
        width: 18px;
        height: 10px;
        opacity: 0.9;
        z-index: 1; }
      .content .text .box-content .title-sport__box {
        background: url("../images/text/paybox-720.png") no-repeat;
        max-width: 185px;
        width: 100%;
        max-height: 28px;
        margin-left: 257px; }
        .content .text .box-content .title-sport__box .title-sport {
          padding: 6px;
          font-size: 17px; }
          .content .text .box-content .title-sport__box .title-sport:before {
            height: 18px;
            left: -9px;
            width: 31px;
            opacity: 0.5;
            border-bottom: 1px solid #f8ff13; }
          .content .text .box-content .title-sport__box .title-sport:after {
            content: url("../images/text/cross-720.png");
            top: 71px;
            left: 0; }
      .content .text .box-content .bonus-box:before {
        top: 126px;
        left: 295px;
        width: 63px;
        z-index: 1;
        opacity: 0.4;
        border-bottom: 1px solid #f8ff13; }
      .content .text .box-content .bonus-box:after {
        position: absolute;
        content: '';
        border-bottom: 7px solid #f8ff13;
        left: 208px;
        top: 58px;
        width: 16px;
        height: 10px;
        opacity: 0.9; }
      .content .text .box-content .bonus-box .letter-bonus {
        content: url("../images/text/letter-bonus-resp.png");
        left: 413px;
        top: 107px;
        width: 17px; }
      .content .text .box-content .bonus-box .bonus-name {
        margin-left: 210px;
        font-size: 83px; }
        .content .text .box-content .bonus-box .bonus-name:before {
          top: 19px;
          left: 221px;
          width: 100px;
          opacity: 0.4;
          border-bottom: 1px solid #f8ff13; }
        .content .text .box-content .bonus-box .bonus-name:after {
          top: 35px;
          width: 16px;
          left: 304px;
          border-bottom: 3px solid #ffffff;
          height: 20px; }
      .content .text .box-content .bonus-box .bonus-price {
        font-size: 83px;
        transform: translate(296px, -20px); }
        .content .text .box-content .bonus-box .bonus-price::before {
          top: 39px;
          left: 154px;
          border-bottom: 7px solid #000000; }
        .content .text .box-content .bonus-box .bonus-price::after {
          border-bottom: 7px solid #000;
          width: 32px;
          top: 51px;
          left: 151px; }
      .content .text .letter-bonus__white {
        top: 9px !important;
        left: 205px !important;
        background-size: cover;
        max-width: 299px; }
      .content .text .btn-registration {
        background: url("../images/text/btn-registration-responsive.png") no-repeat;
        background-size: cover;
        width: 100%;
        max-height: 63px !important;
        margin-top: 180px;
        max-width: 270px !important;
        margin-left: 216px !important;
        padding-top: 22px !important; }
        .content .text .btn-registration .btn-link {
          font-size: 21px !important;
          margin-left: 47px !important;
          letter-spacing: normal !important; }
    .content .info-box:before {
      background: url("../images/text/cross-720.png") no-repeat !important;
      top: -44px !important;
      left: 426px !important;
      width: 8px !important;
      height: 8px !important; }
    .content .info-box::after {
      left: 450px !important;
      top: -70px !important;
      border-bottom: 1px solid #f8ff13 !important;
      opacity: 0.4; }
    .content .info-box .registration-info {
      font-size: 40px !important;
      margin-left: 176px;
      letter-spacing: normal !important;
      margin-top: 16px; }
  .steps {
    margin-top: 45px; }
    .steps .steps-wrap {
      justify-content: center; }
      .steps .steps-wrap .step {
        width: 25%; }
        .steps .steps-wrap .step .icon {
          width: 42px;
          height: 35px;
          margin-left: 35px; }
          .steps .steps-wrap .step .icon .number {
            line-height: 35px;
            font-size: 18px; }
        .steps .steps-wrap .step .title {
          font-size: 16px; }
        .steps .steps-wrap .step .icon-middle {
          width: 42px;
          height: 35px;
          margin-left: 20px; }
          .steps .steps-wrap .step .icon-middle .number {
            line-height: 35px;
            font-size: 18px; }
        .steps .steps-wrap .step .icon-last {
          width: 42px;
          height: 35px;
          margin-right: 20px; }
          .steps .steps-wrap .step .icon-last .number {
            line-height: 35px;
            font-size: 18px; }
  .copyright-box {
    display: flex;
    justify-content: flex-end; }
    .copyright-box .copyright-title {
      font-size: 20px;
      opacity: 0.4;
      text-transform: uppercase;
      margin-right: 80px; }
  .responsive-section {
    display: flex;
    width: 100%;
    height: 100%;
    max-height: 95px;
    flex-direction: column;
    flex-flow: wrap;
    justify-items: center;
    justify-content: center; }
    .responsive-section .container .prefooter-section {
      width: 100%;
      height: 100%;
      background: url("../images/header/right-logo-720.png") no-repeat;
      margin-left: 228px;
      margin-top: 22px; }
    .responsive-section .container .copyright-box {
      justify-content: space-around;
      margin-right: 15px;
      transform: translate(10px, -25px); }
      .responsive-section .container .copyright-box .copyright-title {
        margin: 0;
        font-size: 8px; }
  footer {
    height: 100%;
    max-height: 80px; }
    footer .left-col {
      display: none; }
    footer .right-col {
      display: none; }
    footer .center-clo {
      display: none; }
    footer .footer-responsive {
      display: flex;
      width: 100%; }
      footer .footer-responsive .left-col__responsive .age-section {
        margin-left: 69px;
        margin-top: 12px;
        width: 20px; }
    footer .center-col__responsive .payments__responsive {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      height: 32px;
      margin-left: 100px;
      transform: translate(10px, -9px); }
      footer .center-col__responsive .payments__responsive a {
        margin-right: 17px; }
      footer .center-col__responsive .payments__responsive .icon-visa {
        max-width: 25px; }
      footer .center-col__responsive .payments__responsive .icon-master {
        max-width: 25px; }
      footer .center-col__responsive .payments__responsive .icon-qiwi {
        max-width: 40px; }
      footer .center-col__responsive .payments__responsive .icon-yandex {
        max-width: 50px; }
    footer .center-col__responsive .download__responsive {
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      height: 42px;
      margin-top: 15px;
      transform: translate(38px, -2px); }
      footer .center-col__responsive .download__responsive a {
        margin: 0 7px; }
        footer .center-col__responsive .download__responsive a:first-child {
          margin-left: 39px;
          margin-bottom: 10px; }
        footer .center-col__responsive .download__responsive a:last-child {
          margin-bottom: 10px; }
      footer .center-col__responsive .download__responsive .icon__responsive {
        max-width: 70px; }
    footer .right-col__responsive {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      height: 32px; }
      footer .right-col__responsive .social__responsive {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        margin-left: 42px; }
        footer .right-col__responsive .social__responsive a {
          margin-right: 25px; }
          footer .right-col__responsive .social__responsive a:last-child {
            margin-right: 0; }
        footer .right-col__responsive .social__responsive .icon-vk {
          width: 20px;
          transform: translate(8px, 13px); }
        footer .right-col__responsive .social__responsive .icon-twitter {
          width: 15px;
          transform: translate(0px, 13px); }
        footer .right-col__responsive .social__responsive .icon-inst {
          width: 15px;
          transform: translate(-13px, 14px); } }

@media screen and (max-width: 555px) and (min-width: 320px) {
  .container {
    max-width: 700px;
    margin: 0 auto; }
  .background .header-response {
    background: url("../images/header/logo320.png") no-repeat;
    position: absolute;
    z-index: 10;
    top: 12px;
    width: 100%;
    left: 215px;
    height: 50px; }
  .background .persons .person.pubg {
    top: 61px !important;
    width: 100%;
    max-width: 275px;
    left: 302px !important; }
  .background .persons .person.jugg {
    max-width: 192px;
    left: 199px !important;
    top: 0 !important;
    max-height: 832px; }
  .background .persons .person.tracer {
    top: 66px !important;
    right: inherit !important;
    width: 180px !important;
    left: 74px; }
  .background .persons .pluses {
    display: none; }
  .background .persons::before {
    background: url("../images/bg/background-over-responsive.png");
    object-fit: cover; }
  .background .persons .dirt {
    background: url("../images/bg/dirt-7.png") !important; }
  .header {
    display: none;
    flex-direction: column;
    width: 100%;
    justify-content: center; }
    .header .logo {
      display: none; }
    .header .rightSide {
      display: none; }
  .content {
    height: 100%;
    max-height: 900px; }
    .content .text {
      margin-top: 60px;
      height: 500px; }
      .content .text .box-content:before {
        position: absolute;
        content: '';
        border-bottom: 4px solid #f8ff13;
        left: 490px;
        top: 184px;
        width: 18px;
        height: 10px;
        opacity: 0.9;
        z-index: 1; }
      .content .text .box-content .title-sport__box {
        background: url("../images/text/paybox-320.png") no-repeat;
        max-width: 170px;
        width: 100%;
        max-height: 28px;
        margin-left: 184px; }
        .content .text .box-content .title-sport__box .title-sport {
          padding: 6px;
          font-size: 14px;
          letter-spacing: 0.4px;
          margin-left: 7px; }
          .content .text .box-content .title-sport__box .title-sport:before {
            height: 18px;
            left: -9px;
            width: 31px;
            opacity: 0.5;
            border-bottom: 1px solid #f8ff13; }
          .content .text .box-content .title-sport__box .title-sport:after {
            content: url("../images/text/cross-720.png");
            top: 71px;
            left: 0; }
      .content .text .box-content .bonus-box:before {
        top: 126px;
        left: 295px;
        width: 63px;
        z-index: 1;
        opacity: 0.4;
        border-bottom: 1px solid #f8ff13; }
      .content .text .box-content .bonus-box:after {
        position: absolute;
        content: '';
        border-bottom: 7px solid #f8ff13;
        left: 208px;
        top: 58px;
        width: 16px;
        height: 10px;
        opacity: 0.9; }
      .content .text .box-content .bonus-box .letter-bonus {
        content: url("../images/text/letter-bonus-resp.png");
        left: 413px;
        top: 107px;
        width: 17px; }
      .content .text .box-content .bonus-box .bonus-name {
        margin-left: 152px;
        font-size: 72px; }
        .content .text .box-content .bonus-box .bonus-name:before {
          top: 19px;
          left: 221px;
          width: 100px;
          opacity: 0.4;
          border-bottom: 1px solid #f8ff13; }
        .content .text .box-content .bonus-box .bonus-name:after {
          top: 35px;
          width: 16px;
          left: 304px;
          border-bottom: 3px solid #ffffff;
          height: 20px; }
      .content .text .box-content .bonus-box .bonus-price {
        font-size: 71px;
        transform: translate(227px, -17px); }
        .content .text .box-content .bonus-box .bonus-price::before {
          top: 39px;
          left: 154px;
          border-bottom: 7px solid #000000; }
        .content .text .box-content .bonus-box .bonus-price::after {
          border-bottom: 7px solid #000;
          width: 32px;
          top: 51px;
          left: 151px; }
      .content .text .letter-bonus__white {
        top: 9px !important;
        left: 205px !important;
        background-size: cover;
        max-width: 299px; }
      .content .text .btn-registration {
        background: url("../images/text/btn-registration-responsive.png") no-repeat;
        background-size: cover;
        width: 100%;
        max-height: 60px !important;
        margin-top: 166px;
        max-width: 258px !important;
        margin-left: 144px !important;
        padding-top: 19px !important; }
        .content .text .btn-registration .btn-link {
          font-size: 20px !important;
          margin-left: 48px !important;
          letter-spacing: normal !important; }
    .content .info-box:before {
      background: url("../images/text/cross-720.png") no-repeat !important;
      top: -44px !important;
      left: 426px !important;
      width: 8px !important;
      height: 8px !important; }
    .content .info-box::after {
      left: 450px !important;
      top: -70px !important;
      border-bottom: 1px solid #f8ff13 !important;
      opacity: 0.4; }
    .content .info-box .registration-info {
      font-size: 36px !important;
      margin-left: 117px;
      letter-spacing: normal !important;
      margin-top: 16px; }
  .steps {
    margin-top: 0; }
    .steps .steps-wrap {
      justify-content: center;
      display: flex;
      flex-direction: column;
      margin-right: 30px; }
      .steps .steps-wrap .step {
        width: 100%;
        margin-bottom: 24px; }
        .steps .steps-wrap .step .icon {
          width: 53px;
          height: 45px; }
          .steps .steps-wrap .step .icon .number {
            line-height: 45px;
            font-size: 25px; }
        .steps .steps-wrap .step .title {
          font-size: 23px; }
        .steps .steps-wrap .step .icon-middle {
          width: 56px;
          height: 45px;
          margin-left: 0; }
          .steps .steps-wrap .step .icon-middle .number {
            line-height: 45px;
            font-size: 25px; }
        .steps .steps-wrap .step .icon-last {
          width: 53px;
          height: 45px;
          margin-right: 0; }
          .steps .steps-wrap .step .icon-last .number {
            line-height: 45px;
            font-size: 25px; }
  .copyright-box {
    display: flex;
    justify-content: flex-end; }
    .copyright-box .copyright-title {
      font-size: 20px;
      opacity: 0.4;
      text-transform: uppercase;
      margin-right: 80px; }
  .responsive-section {
    display: flex;
    width: 100%;
    height: 100%;
    max-height: 95px;
    flex-direction: column;
    flex-flow: wrap;
    justify-items: center;
    justify-content: center; }
    .responsive-section .container .prefooter-section {
      width: 100%;
      height: 100%;
      background: url("../images/header/right-logo-320.png") no-repeat;
      margin-left: 185px;
      margin-top: 13px; }
    .responsive-section .copyright-box {
      justify-content: space-around;
      margin-right: 15px;
      transform: translate(10px, -35px) !important; }
      .responsive-section .copyright-box .copyright-title {
        margin: 0;
        font-size: 10px !important;
        opacity: 0.2; }
  footer {
    height: 100%;
    max-height: 80px; }
    footer .left-col {
      display: none; }
    footer .right-col {
      display: none; }
    footer .center-clo {
      display: none; }
    footer .footer-responsive {
      display: flex;
      width: 100%; }
      footer .footer-responsive .left-col__responsive .age-section {
        margin-left: 69px;
        margin-top: 12px;
        width: 20px; }
    footer .center-col__responsive .payments__responsive {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      height: 32px;
      margin-left: 100px;
      transform: translate(10px, -9px); }
      footer .center-col__responsive .payments__responsive a {
        margin-right: 17px; }
      footer .center-col__responsive .payments__responsive .icon-visa {
        max-width: 25px; }
      footer .center-col__responsive .payments__responsive .icon-master {
        max-width: 25px; }
      footer .center-col__responsive .payments__responsive .icon-qiwi {
        max-width: 40px; }
      footer .center-col__responsive .payments__responsive .icon-yandex {
        max-width: 50px; }
    footer .center-col__responsive .download__responsive {
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      height: 42px;
      margin-top: 15px;
      transform: translate(38px, -2px); }
      footer .center-col__responsive .download__responsive a {
        margin: 0 7px; }
        footer .center-col__responsive .download__responsive a:first-child {
          margin-left: 39px;
          margin-bottom: 10px; }
        footer .center-col__responsive .download__responsive a:last-child {
          margin-bottom: 10px; }
      footer .center-col__responsive .download__responsive .icon__responsive {
        max-width: 70px; }
    footer .right-col__responsive {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      height: 32px; }
      footer .right-col__responsive .social__responsive {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        margin-left: 42px; }
        footer .right-col__responsive .social__responsive a {
          margin-right: 25px; }
          footer .right-col__responsive .social__responsive a:last-child {
            margin-right: 0; }
        footer .right-col__responsive .social__responsive .icon-vk {
          width: 20px;
          transform: translate(8px, 13px); }
        footer .right-col__responsive .social__responsive .icon-twitter {
          width: 15px;
          transform: translate(0px, 13px); }
        footer .right-col__responsive .social__responsive .icon-inst {
          width: 15px;
          transform: translate(-13px, 14px); } }
